#bienvenida{
  text-align: center;

}
#enunciado{
  text-align: center;
}
body {
	background-size:cover;

  font-family: 'Roboto', sans-serif;
  font-size:
  text-align: center;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#febbbb+0,fe9090+50,fe9090+50,ff5c5c+100 */
background: #febbbb; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */

background: -moz-linear-gradient(top,  #febbbb 0%, #fe9090 50%, #fe9090 50%, #ff5c5c 100%); /* FF3.6-15 */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#febbbb), color-stop(50%,#fe9090), color-stop(50%,#fe9090), color-stop(100%,#ff5c5c)); /* Chrome4-9,Safari4-5 */
background: -webkit-linear-gradient(top,  #febbbb 0%,#fe9090 50%,#fe9090 50%,#ff5c5c 100%); /* Chrome10-25,Safari5.1-6 */
background: -o-linear-gradient(top,  #febbbb 0%,#fe9090 50%,#fe9090 50%,#ff5c5c 100%); /* Opera 11.10-11.50 */
background: -ms-linear-gradient(top,  #febbbb 0%,#fe9090 50%,#fe9090 50%,#ff5c5c 100%); /* IE10 preview */
background: linear-gradient(to bottom,  #febbbb 0%,#fe9090 50%,#fe9090 50%,#ff5c5c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff5c5c',GradientType=0 ); /* IE6-8 */

}
.degradado{
  height:35em;
}

.bienvenida{

  font-size: 35px;
  font-weight: 500;
  background-color:none;
  margin-left: -100px;
  margin-right: -100px;
  padding: 25px;

  text-align: center;
}

#pagina2{
  display: none;
  text-align: center;

}
#pagina3{
  display:none;
  text-align: center;
}

#codificar{
  border-radius: 6px;
  margin-top: 15%;
  margin-right: 30%;
  font-weight: bold;
  padding: 8px;
  font-size: 15px;
  Position: absolute;
  left:30%;
  top:65%;
}
#decodificar{
  border-radius: 6px;
  margin-top: 15%;
  margin-right: 30%;
  font-weight: bold;
  padding: 8px;
  font-size: 15px;
  Position:absolute;
  top:65%;
  right:0%;

}
#cajaParaCode{
  background-color: rgba(255, 255, 255, 0.3);
  position:absolute;
  right:55%;
  top:25%;
  margin-block-start: 8%;
  margin-left: 40px;
  width: 250px;
  height: 250px;
 border-radius: 6px;
 text-align: left;
 font-size: 14px;
}
#cajaParaDecode{
  background-color: rgba(255, 255, 255, 0.3);
  position:absolute;
  right:28%;
  margin-block-start: 8%;
  margin-left: 40px;
  width: 250px;
  height: 250px;
 border-radius: 6px;
 top:25%;
}
